/* style.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="file"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos específicos */
  #nombre,
  #dni,
  #candidatos {
    margin-bottom: 15px;
  }
  
  /* Estilos para el archivo seleccionado */
  #archivo::file-selector-button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  #archivo::file-selector-button:focus {
    outline: none;
    border-color: #4CAF50;
  }
  
  /* Estilos para el archivo seleccionado */
  #archivo::file-selector-button::before {
    content: "Seleccionar archivo";
  }
  
  /* Estilos para el archivo seleccionado */
  #archivo::file-selected-button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  /* Estilos para el archivo seleccionado */
  #archivo::file-selected-button::before {
    content: attr(data-file-name);
  }